<html>
<head>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #D6EEEE;
        }
     
        </style>
    <body>
        <title>Masterpiece Limited</title>
    </body>
</head>
<button style="float: right;">
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</button>
<p>
    {%block content%}
    {%endblock%}
</p>
</html>