{%extends "main/base.html"%}
{% block content %}
<h1>
   painting title =  {{painting.title}}
</h1>
<h2>
    painting id = {{painting.id}}
</h2>
<h2>
    painting theme =  {{painting.theme}}
</h2>
<h2>
    painting rent =  {{painting.rent}}
</h2>
<h2>
    painting owner ID =  {{painting.owner_id_id}}
</h2>
<h2>
    painting artist ID =  {{painting.artist_id_id}}
</h2>
<h2>
    Month to return =  {{painting.mth_to_rtn}}
</h2>
<h2>
    Returned to Owner =  {{painting.rtn_to_owner}}
</h2>
<h2>
    painting hired =  {{painting.hired}}
</h2>
<h2>
    Submit Date =  {{painting.submit_date}}
</h2>
<h2>
    Return Date =  {{painting.return_date}}
</h2>


{%endblock%}