{% extends "main/base.html" %}
{%block content%}
<h1 style="text-align: center;">Welcome to Masterpiece Limited</h1>
<div>
<button>
<a href="create-customer" class="btn btn-primary">Create Customer</a>
</button>
<button>
    <a href="create-artist" class="btn btn-primary">Create Artist</a>
</button>
<button>
    <a href="create-owner" class="btn btn-primary">Create Owner</a>
</button>
<button>
    <a href="create-painting" class="btn btn-primary">Create Painting</a>
</button>
</div>

<br><br>

<div>
    <button>
        <a href="paintings" class="btn btn-primary">View all Paintings</a>
    </button>
    <button>
        <a href="hire-painting" class="btn btn-primary">Hire Painting</a>
    </button>
    <button>
        <a href="return-painting" class="btn btn-primary">Return Painting</a>
    </button>
    
</div>

<br><br>

<div>
    <button>
        <a href="gen-cust-rent-rpt" class="btn btn-primary">Generate Customer Rental Report</a>
    </button>
    <button>
        <a href="gen-artist-rpt" class="btn btn-primary">Generate Artist Report</a>
    </button>
</div>
{%endblock%}